.container {
    padding:100px 50px;
    /* border-top:2px solid rgb(185, 185, 185) */
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:50px;
}

.wrapper .info {
    font-size: 28px;
}
.wrapper .left {
    padding:15px;
    flex: 1;
  
   
}
.wrapper .right {
    padding:15px;
    flex: 1;
  
}

.wrapper .info_cek,
.wrapper .info_detail 
{
    margin-top: 30px;
}

.wrapper .info_cek p {
    margin-bottom: 20px;
}
.wrapper .info_detail p {
    margin-bottom: 20px;
}
.wrapper span {
    line-height: 30px;
    font-weight: 400;
}
.wrapper p {
    font-weight: 600;
}